# Node
node_modules/
npm-debug.log
yarn-error.log

# Build output
dist/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log

# Electron
*.asar

# Env
.env
.env.*

# Snapcraft
*.snap

# AppImage
*.AppImage

# RPM
*.rpm

# DEB
*.deb
