[Desktop Entry]
Name=Libernav
Comment=Libernav - Navigateur Electron + Tor + Adblock
Exec=/home/econar/Bureau/Libernav/dist/Libernav-0.0.0.AppImage
Icon=/home/econar/Bureau/Libernav/icons/icon-256x256.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;
